
{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} Squirrel List{% endblock %}

{% block main %}

    <h1 align="center">Squirrel List</h1>
    <br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead align="center">
            <tr>
              <th align="center">Unique_Squirrel_ID</th>
              <th align="center">Date</th>
              <th align="center">Update</th>
            </tr>
          </thead>
          <tbody>
          {% for row in squirrels %}
           <tr>
              <td align="center">{{row.Unique_Squirrel_ID}}</a></td>
              <td align="center"> {{row.Date}}</td>
              <td align="center">
                <a href="/sightings/{{row.Unique_Squirrel_ID}}/">update</a></td>
           </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    <footer class="text-muted">
      <div class="container">
        <p class="float-left">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
{% endblock %}
