{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} Squirrel Sightings Statistics {% endblock %}

{% block main %}
    <h1 align="center">Some Statistics of Squirrel Sightings</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th align="center">Attributes of Sightings</th>
              <th align="center">Number of Sightings</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td align="center">Total number of squirrels:</td>
              <td align="center"> {{total_squirrels}}</td>
           </tr>
	   <tr>
              <td align="center">The number of adult squirrels:</td>
              <td align="center"> {{adult}}</td>
           </tr>
	   <tr>
              <td align="center">The number of juvenile squirrels:</td>
              <td align="center"> {{juvenile}}</td>
           </tr>
	   <tr>
              <td align="center">The number of squirrels sighted above ground:</td>
              <td align="center"> {{above_ground}}</td>
           </tr>
	   <tr>
              <td align="center">The number of squirrels eating:</td>
              <td align="center"> {{eating}}</td>
           </tr>
          </tbody>
        </table>
      </div>

{% endblock %}
